
<div class="title">
	Назва флешмобу: налаштування
</div>
<div class="maincont">
	<table class="registr">
		<tr>
			<td rowspan="3">Толстий картинко</td>
			<td><input type="text" name="flashmobName" value="Lorem ipsum"></td>
			<td></td>
		</tr>
		<tr>
			<td>Вибрати зображення<br><br><input type="file" name="flashmobAvatar" accept="image/*"></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="date" name="flashmobDate">&nbsp&nbsp&nbsp&nbsp<input type="time" name="flashmobTime"></td>
			<td></td>
		</tr>
		<tr class="podch">
			<td></td>
			<td>Приватність</td>
			<td></td>
		</tr>
		<tr>
			<td>Тип флешмобу</td>
			<td>
				<select>
					<option value="open">Відкритий</option>
					<option value="semiopen">Напів-відкритий</option>
					<option value="closed">Закритий</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Редагування усієї інформації</td>
			<td>
				<select>
					<option value="superMods">Усім головним модераторам</option>
					<option value="mods">Усім модераторам</option>
					<option value="participants">Усім учасникам</option>
					<option value="users">Усім користувачам</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Додавання фотографій та документів, редагування етапів</td>
			<td>
				<select>
					<option value="superMods">Усім головним модераторам</option>
					<option value="mods">Усім модераторам</option>
					<option value="participants">Усім учасникам</option>
					<option value="users">Усім користувачам</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Запрошення нових учасників</td>
			<td>
				<select>
					<option value="superMods">Усім головним модераторам</option>
					<option value="mods">Усім модераторам</option>
					<option value="participants">Усім учасникам</option>
					<option value="users">Усім користувачам</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Коментування</td>
			<td>
				<select>
					<option value="superMods">Усім головним модераторам</option>
					<option value="mods">Усім модераторам</option>
					<option value="participants">Усім учасникам</option>
					<option value="users">Усім користувачам</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr class="podch">
			<td></td>
			<td>Відповідальні особи</td>
			<td></td>
		</tr>
		<tr>
			<td>УАСИЛІЙ</td>
			<td>
				<select>
					<option value="superMod">Головний модератор</option>
					<option value="mod">Модератор</option>
					<option value="1">Відповідальний за І етап</option>
					<option value="2">Відповідальний за ІІ етап</option>
					<option value="3">Відповідальний за ІІІ етап</option>
					<option value="4">Відповідальний за ІV етап</option>
					<option value="5">Відповідальний за V етап</option>
					<option value="6">Відповідальний за VI етап</option>
					<option value="7">Відповідальний за VІI етап</option>
					<option value="8">Відповідальний за VІІI етап</option>
					<option value="9">Відповідальний за IX етап</option>
					<option value="10">Відповідальний за X етап</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr class="podch">
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Видалити флешмоб</td>
			<td></td>
			<td></td>
		</tr>
		<tr class="podch">
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="profileChanged" value="Зберегти зміни">&nbsp&nbsp&nbsp&nbsp<input type="reset" name="profileNotChanged" value="Скасувати"></td>
			<td></td>
		</tr>
	</table><br><br>
</div>