<div class="title">
	Головна сторінка
</div>
<div class="maincont">
	<div class="kartinka">
		<img src="../../../../../../bdf/img1.png"></img>
	</div>
	<div class="mainpText">
		???????????????????????????????????????????????????????????????????
		??????????????????????????????????????????????????????????????????
		?????????????????????????????????????????????????????????????????
	</div>
</div>
