<!DOCTYPE html>
<html> 
<head>
	<link rel="stylesheet" type="text/css" href="../../../../../../bdf/css/styles.css">
	<meta charset="utf-8">
</head>
<body>
<div class="header">
	<div class="welcome">ФЛЕШМОБИ УКРАЇНИ</div>
	<div class="loginzone">
		<br>
		Вхід &nbsp&nbsp| &nbsp&nbsp<a href="registration.html">Реєстрація</a>
	</div>
</div>
<div class="content"> 
	<div class="title">
		Реєстрація
	</div>
	<div class="sidebar">	
		<table class="menu">
			<tr><td><a href="mainpage.html">Головна</a></td></tr>
			<tr><td><a href="MyProfile.html">Минулі події</a></td></tr>
			<tr><td><a href="MyProfile.html">Заплановані події</a></td></tr>
			<tr><td><a href="MyProfile.html">Мої флешмоби</a></td></tr>
			<tr><td><a href="MyProfile.html">Мої запрошення</a></td></tr>
			<tr><td><a href="MyProfile.html">Мої повідомлення</a></td></tr>
		</table>
	</div>
	<div class="maincont"> 
		<table class="registr">
			<tr class="podch">
				<td></td>
				<td>Особисті дані</td>
				<td></td>
			</tr>
			<tr>
				<td>Ім'я</td>
				<td><input type="text" name="userName" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr>
				<td>Прізвище</td>
				<td><input type="text" name="userLastName" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr>
				<td>Дата народження</td>
				<td><input type="date" name="birthDate" max="1979-12-31" min="2005-01-02"></td>
				<td></td>
			</tr>
			<tr>
				<td>Стать</td>
				<td><input type="radio" name="sex">Чоловік <input type="radio" name="sex">Жінка</td>
				<td></td>
			</tr>
			<tr>
				<td>Місце проживання</td>
				<td>Забил пока</td>
				<td></td>
			</tr>
			<tr>
				<td>Мої захоплення</td>
				<td><input type="text" name="interests" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr class="podch">
				<td></td>
				<td>Контактні дані</td>
				<td></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><input type="text" name="E-mail" placeholder="text input"></td>
				<td><input type="checkbox" name="hideE-mail"> Приховати від інших користувачів</td>
			</tr>
			<tr>
				<td>Телефон</td>
				<td><input type="text" name="Phone" placeholder="text input"></td>
				<td><input type="checkbox" name="hidePhone"> Приховати від інших користувачів</td>
			</tr>
			<tr>
				<td>Skype</td>
				<td><input type="text" name="Skype" placeholder="text input"></td>
				<td><input type="checkbox" name="hideSkype"> Приховати від інших користувачів</td>
			</tr>
			<tr>
				<td>Інше</td>
				<td><input type="text" name="Other" placeholder="text input"></td>
				<td><input type="checkbox" name="hideOther"> Приховати від інших користувачів</td>
			</tr>
			<tr class="podch">
				<td></td>
				<td>Пароль</td>
				<td></td>
			</tr>
			<tr>
				<td>Пароль</td>
				<td><input type="password" name="Password1" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr>
				<td>Повтор пароля</td>
				<td><input type="password" name="Password2" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr>
				<td rowspan="2">Капча</td>
				<td>Введіть символи з зображення</td>
				<td></td>
			</tr>
			<tr>
				<td><input type="text" name="Captcha" placeholder="text input"></td>
				<td></td>
			</tr>
			<tr class="podch">
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="rulesAgreed">Згоден з правилами користування</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="register" value="Зареєструватися"></td>
				<td></td>
			</tr>
		</table><br><br>
	</div>
	<div class="footer">
		footer nah
	</div>
</div>