<% layout('layout.ejs') %>

<form method="post">
    title: <input type="text" name="title" /> <br>
    start date: <input type="datetime-local" name="start_datetime" /> <br>
    end date: <input type="datetime-local" name="end_datetime" /> <br>
    type(open, semiopen, closed): <input type="text" name="type" /> <br>
    short description <input type="text" name="short_description" /> <br>
    full description <input type="text" name="full_description" /> <br>
    <input type="submit">
</form>