<% layout('layout.ejs') %>
		<!-- MAIN -->
		<div id="main">

			<!-- HEADER -->
			<div id="header">
				<div id="page-title">Мої запрошення</div>
				<!-- Breadcrumb-->
				<div id="breadcrumbs">
					Ви знаходитесь: 
					<a title="Home" href="index.html">Головна</a> &raquo; 
					<a title="Features" href="flashmobs.html">Мої запрошення</a>
				</div>
				<!-- ENDS Breadcrumb-->	
			</div>
			<!-- ENDS HEADER -->
			
			<!-- CONTENT -->
			<div id="content">
						
				<!-- PAGE CONTENT -->
				<div id="page-content">
				
					<!-- filter -->
					<div class="filter">
						<div class="filter-top">&nbsp;</div>
						<div class="filter-main">
							<div class="filter-title">Порядок виведення</div>
							<ul>
					    		<li><a href="#" > Спочатку нові </a></li>
								<li><a href="#" > Спочатку старі </a></li>
					    		<li><a href="#" > Спочатку популярні </a></li>
								<li><a href="#" > Обрати місце </a></li>
					    	</ul>
					    </div>
				    	<div class="filter-bottom">&nbsp;</div>
			    	</div>
					<!-- filter -->
				
					<!-- Posts -->
					<div class="post">
						<!-- feature image -->
						<div class="feature-image">
							<a href="flashmobPage.html"><img src="img/dummies/584x300.jpg" alt="Feature image" /></a>
						</div>
						<!-- ENDS feature image -->
						<h1><a href="flashmobPage.html">Перший</a></h1>
						<!-- meta -->
						<ul class="meta">
							<li>Від <a href="#">Олексія</a>,&nbsp;</li> 
							<li> 20.11.2014 о 15:00 &nbsp;</li>							
							<li> в <a href="#">м. Київ,</a>&nbsp;</li>
							<li> завершений,&nbsp;</li>
							<li> 25 коментарів&nbsp;</li>
						</ul>
						<!-- ENDS meta -->
						
						<div class="the-excerpt">
							Наступний флешмоб вражає своєю цікавою задумкою і простотою. З допомогою цього флешмобу компанія перевізник поздоровила свого водія. Ці сльози радості на його лиці варті цього.  
						</div>
						<a href="#" class="link-button"><span>Прийняти</span></a><a href="#" class="link-button"><span>Відхилити</span></a>
					</div>
					
					<div class="post">
						<!-- feature image -->
						<div class="feature-image">
							<a href="flashmobPage.html"><img src="img/dummies/584x300.jpg" alt="Feature image" /></a>
						</div>
						<!-- ENDS feature image -->
						<h1><a href="flashmobPage.html">Другий</a></h1>
						<!-- meta -->
						<ul class="meta">
							<li>Від <a href="#">Олексія</a>,&nbsp;</li> 
							<li> 21.11.2014 о 15:00 &nbsp;</li>							
							<li> в <a href="#">м. Київ,</a>&nbsp;</li>
							<li> завершений,&nbsp;</li>
							<li> 10 коментарів&nbsp;</li>
						</ul>
						<!-- ENDS meta -->
						
						<div class="the-excerpt">
							Мабуть кожен із вас стикався в своєму житті з таким поняттям як "флешмоб".
							Флешмоб - це заздалегідь спланована масова акція, зазвичай організована через Інтернет або інші сучасні засоби комунікації, у якій велика кількість людей оперативно збирається у громадському місці, протягом декількох хвилин виконує заздалегідь оговорені дії (сценарій), і потім швидко розходяться (wikipedia).
						</div>
						<a href="#" class="link-button"><span>Прийняти</span></a><a href="#" class="link-button"><span>Відхилити</span></a>
					</div>
					<!-- ENDS posts -->
					
					<!-- Pagination -->
					<ul class='pager'>
						<li class="first-child"><a href="#">prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="last-child"><a href="#">next</a></li>
					</ul>
					<!-- ENDS Pagination -->
	
					
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->