<% layout('layout.ejs') %>
		<!-- MAIN -->
		<div id="main">
		
			<div class="home-quotes">Даний сайт створений з метою організації флешмобів.</div>
						
			<!-- CONTENT -->
			<div id="content">
				<!-- PAGE CONTENT -->
				<div id="page-content">
					

																																				
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->