<!DOCTYPE html>
<html>
<head>
    <title>My cool title</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div class="header">
    <div class="welcome">ФЛЕШМОБИ УКРАЇНИ</div>
    <div class="loginzone">
        Вітаємо, User<br><br>
        Вихід &nbsp&nbsp| &nbsp&nbsp<a href="profile.html">Профіль</a>
    </div>
</div>
<div class="content">
    <%-body %>
    <div class="sidebar">
        <table class="menu">
            <tr><td><a href="mainpage.html">Головна</a></td></tr>
            <tr><td><a href="profile.html">Минулі події</a></td></tr>
            <tr><td><a href="MyProfile.html">Заплановані події</a></td></tr>
            <tr><td><a href="MyProfile.html">Мої флешмоби</a></td></tr>
            <tr><td><a href="MyProfile.html">Мої запрошення</a></td></tr>
            <tr><td><a href="MyProfile.html">Мої повідомлення</a></td></tr>
        </table>
    </div>
    <div class="footer">
        footer nah
    </div>
</div>
</body>
</html>