<% layout('layout.ejs') %>
		<!-- MAIN -->
		<div id="main">

			<!-- HEADER -->
			<div id="header">
				<div id="page-title">Мої діалоги</div>
				<!-- Breadcrumb-->
				<div id="breadcrumbs">
					Ви знаходитесь: 
					<a title="Home" href="index.html">Головна</a> &raquo; 
					<a title="Features" href="flashmobs.html">Мої діалоги</a>
				</div>
				<!-- ENDS Breadcrumb-->	
			</div>
			<!-- ENDS HEADER -->
			
			<!-- CONTENT -->
			<div id="content">
						
				<!-- PAGE CONTENT -->
				<div id="page-content">
				
					<!-- filter -->
					<div class="filter">
						<div class="filter-top">&nbsp;</div>
						<div class="filter-main">
							<div class="filter-title">Порядок виведення</div>
							<ul>
					    		<li><a href="#" > Спочатку нові </a></li>
								<li><a href="#" > Спочатку старі </a></li>
					    		<li><a href="#" > Показати непрочитані </a></li>
								<li><a href="#" > Показати усі </a></li>
					    	</ul>
					    </div>
				    	<div class="filter-bottom">&nbsp;</div>
			    	</div>
					<!-- filter -->
				
					<!-- Posts -->
					<% for(var i = 0; i< dialogs.length; i++){%>
					<div class="post compact">
						<!-- feature image -->
						<div class="feature-image">
							<a href="single.html"><img src="img/dummies/avatar.jpg" alt="Feature image" /></a>
						</div>
						<!-- ENDS feature image -->
						<div class="the-excerpt">
							<a href="1.html">
								<h1><%-dialogs[i].name%></h1>
								<!-- meta -->
								<ul class="meta">
									<li> <%-dialogs[i].last_message_date%>&nbsp;</li>
								</ul>
								<!-- ENDS meta -->
								<%-dialogs[i].last_message%>
							</a>
						</div>
						<div class="clear"></div>
					</div>
								<%}%>
					
					<!-- ENDS posts -->
					
					<!-- Pagination -->
					<ul class='pager'>
						<li class="first-child"><a href="#">prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="last-child"><a href="#">next</a></li>
					</ul>
					<!-- ENDS Pagination -->
	
					
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->