<% layout('../layout.ejs') %>

<!-- MAIN -->
<div id="main">

    <!-- CONTENT -->
    <div id="content">
        <!-- PAGE CONTENT -->
        <div id="page-content">

            <h1>Помилка. Такий користувач не існує.</h1>

        </div>
        <!-- ENDS PAGE-CONTENT -->

    </div>
    <!-- ENDS CONTENT -->

</div>
<!-- ENDS MAIN -->
